<p>
  <%= link_to "Categories", admin_categories_path %> |
  <%= link_to "New Category", new_admin_category_path %> |
  <%= link_to "Feed Sites", admin_feed_sites_path %> |
  <%= link_to "New Feed Site", new_admin_feed_site_path %> |
  <%= link_to "Settings", admin_settings_path %> | 
  <%= link_to "Website", root_path %> | 
  <%= link_to "Logout", logout_path %>
</p>