<% title h(@feed_site.title) %>

<table id="hor-minimalist-b">
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Author</th>
    <th>Date</th>
    <th> </th>
  </tr>
  <% for feed_entry in @feed_site.feed_entries %>
    <tr>
      <td><%= link_to h(feed_entry.title), h(feed_entry.url) %></td>
      <td><%= link_to "Source", h(feed_entry.url) %> </td>
      <td><%=h feed_entry.author %></td>
      <td><%=h feed_entry.published.to_s(:short) %></td>
      <td><%= link_to "Del", feed_entry_path(feed_entry), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


<h3><%= link_to "Back", feed_sites_url %></h3>