<h3> <%= @title = "#{t('new')} #{t('user')}"%> </h3>

<% form_for(@user, :url => admin_users_path, :html => { :multipart => true }) do |f| %>

  <%= f.error_messages %>
  
  <%= render :partial => 'form', :locals => { :f => f, :user => @user } %>

  <p> 
    <%= f.submit t('save') %>
  </p>

<% end %>

<%= link_to image_tag("admin/back_button.png"), admin_users_path %>

