<%= f.error_messages %>
<table>
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  
  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_field :description %></td>
  </tr>

  <tr>
    <td><%= f.label :site_url, "Site URL" %></td>
    <td><%= f.text_field :site_url %></td>
  </tr>

  <tr>
    <td><%= f.label :logo_url %></td>
    <td><%= f.text_field :logo_url %></td>
  </tr>

  <tr>
    <td><%= f.label :sort_order %></td>
    <td><%= f.text_field :sort_order, :size => 4 %></td>
  </tr>

  <tr>
    <td><strong><%= f.label :url, "RSS URL" %></strong></td>
    <td><%= f.text_field :url %></td>
  </tr>

  <tr>
    <td><%= f.label :avatar %></td>
    <td><%= f.file_field :avatar %></td>
  </tr>
  
  <tr>
    <td><%= f.label :category %></td>
    <td><%= f.select :category_id, Category.all.collect {|t| [t.title,t.id] }, { :include_blank => true } %></td>
  </tr>
  
  <tr>
    <td><%= f.label :etag %></td>
    <td><%= f.text_field :etag %></td>
  </tr>
  
  <tr>
    <td><%= f.label :skip_refresh %></td>
    <td><%= f.check_box :skip_refresh %></td>
  </tr>

  <tr>
    <td><%= f.submit "Submit" %></td>
  </tr>

<table>

<% if @feed_site.avatar? %>
  <p>
    <%= image_tag @feed_site.avatar.url(:small) %><br />
    <%= image_tag @feed_site.avatar.url(:medium) %><br />
    <%= image_tag @feed_site.avatar.url(:large) %><br />
    <%= image_tag @feed_site.avatar.url(:original) %><br />
  </p>
<% end %>