<%= f.error_messages %>
<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label :url %><br />
  <%= f.text_field :url %>
</p>
<p>
  <%= f.label :site_url %><br />
  <%= f.text_field :site_url %>
</p>
<p>
  <%= f.label :logo_url %><br />
  <%= f.text_field :logo_url %>
</p>
<p>
  <%= f.label :sort_order %><br />
  <%= f.text_field :sort_order, :size => 4 %>
</p>

<p>
  <%= f.label :category %><br />
  <%= f.select :category_id, Category.all.collect {|t| [t.title,t.id] }, { :include_blank => true } %>
</p>
<p><%= f.submit "Submit" %></p>
